# To activate this file run this:
# git config --global core.excludesfile '~/.gitignore'

# Intellij IDEA
*.iml
target/
.idea/

# Eclipse
.classpath
.project
.settings/

# svn
.svn/

# JRebel
rebel.xml
rebel-remote.xml

# Cisco
tea-logs/
xmpCacheContents/