# This file will be automatically activated after `./.gitconfig` file activation

# Intellij IDEA
*.iml
target/
.idea/
.run/

# Eclipse
.classpath
.project
.settings/

# svn
.svn/

# JRebel
rebel.xml
rebel-remote.xml

# Cisco
tea-logs/
xmpCacheContents/

# Scala
*.tmp.scala
.bsp/

# etc
.ignored/
*.ignored.*
*.ignored

.ign/
*.ign.*
*.ign
